html {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    border-bottom: solid 1px #E6E8EB;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header {
    background-image:
        linear-gradient(rgba(19, 34, 56, 0.95), rgba(19, 34, 56, 0.95)),
        url("../images/content/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 836px;
}



/* Navigation bar */
nav {
    width: var(--container-width);
    margin: 0 auto;
    height: 96px;
}

/* Mobile menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px 10px 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.hamburger-menu summary {
    list-style: none;
}

.hamburger-menu:hover {
    opacity: 0.8;
}

.hamburger-menu__burger {
    position: relative;
    width: 25px;
    height: 15px;
    background: none;
    border: none;
}

.hamburger-menu__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--text-white);
    border-radius: 2px;
}

.hamburger-menu__burger span:nth-child(1) {
    top: 0
}

.hamburger-menu__burger span:nth-child(2) {
    top: 6px
}

.hamburger-menu__burger span:nth-child(3) {
    top: 12px
}

.nav-logo {
    gap: 12px;
    color: var(--text-white);
}

.nav-logo span {
    font-size: 24px;
    font-weight: var(--font-semibold);
}

.nav-logo img {
    width: 48px;
    height: 48px;
}

.nav-links {
    gap: 25px;
    padding-bottom: 1px;
}

.nav-links ul {
    display: flex;
    gap: 25px;
}



.nav-links ul li a {
    color: #87909D;
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: 24px;
    transition: all 0.3s ease;

}



.nav-links ul li a:hover {
    color: var(--text-white);
    text-shadow: 0.5px 0 0 currentColor;
}

.nav-links--active a {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--text-white) !important;
    margin-right: -4px;
}

.nav-button {
    background: var(--primary-color);
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: normal;
    gap: 12px;
    padding: 12px 32.5px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-button:hover {
    opacity: 0.8;
}

.nav-button a {
    color: var(--text-white);
}

.nav-button img {
    width: 24px;
    height: 24px;
}

/* Header Content */
.header-content {
    width: var(--container-width);
    margin: 0 auto;
    min-height: 465px;
    gap: 250px;
}

.header-content__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-content h1 {
    font-size: 48px;
    font-weight: var(--font-regular);
    line-height: 56px;
    color: var(--text-white);
    width: 536px;
    margin-bottom: 1px;
}

.header-content__items p {
    color: #C3C7CE;
    font-weight: var(--font-regular);
    font-size: 20px;
    line-height: 28px;
    width: 536px;
    padding-bottom: 2px;
}


.header__button {
    width: 390px;
    height: 50px;
    display: flex;
    gap: 16px;

}

.header__button div {
    transition: all 0.3s ease;
}

.header__button div:hover {
    opacity: 0.8;
}

.header__button a {
    color: var(--text-white);
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: normal;
}

.header-button__button01 {
    background: var(--primary-color);
    width: 187px;
    gap: 12px;
    border-radius: 100px;
    cursor: pointer;
    height: 48px;
}

.header-button__button02 {
    width: 187px;
    gap: 12px;
    border-radius: 100px;
    border: 2px solid var(--text-white);
    cursor: pointer;
    height: 48px;
}

/* Header Photo */
.header-photo__container {
    width: 100%;
    min-height: 275px;
    position: relative;
}

.header-photo {
    position: absolute;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    left: -36px;
    bottom: -212px;
}

.header-photo img {
    width: 312px;
    height: 424px;
    object-fit: cover;
}

.header-photo img:nth-child(2),
.header-photo img:nth-child(4),
.header-photo img:nth-child(6) {
    margin-top: 64px;
}


/* Darkmode icon */
.darkmode {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--text-white);
    background-color: var(--primary-color);
    cursor: pointer;
    bottom: 5vh;
    right: 3vw;
}

.darkmode:hover {}

.darkmode img {
    width: 24px;
    height: 24px;
}


/* Main Content  */
main {
    /* width: var(--container-width); */
    margin: 0 auto;
}


/* About Section */
.about-section {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: 312px;
    margin-bottom: 100px;
    display: flex;
    gap: 136px;
    align-items: center;
}

.about-section figure img {
    width: 648px;
    height: 464px;
    object-fit: cover;
}

.about-section figure {
    position: relative;
}

.about-section figcaption {
    position: absolute;
    top: 0;
    background-color: var(--text-white);
    width: 196px;
    height: 392px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    padding-top: 25px;
    margin: 36px;
}

.about-section figcaption hr {
    border: none;
    border-bottom: solid 1px #E6E8EB;
}

.about-info__items {
    width: 148px;
    height: 56px;
}

.about-info__items h3 {
    font-size: 24px;
    font-weight: var(--font-semibold);
    line-height: 32px;
    color: var(--text-primary);

}

.about-info__items p {
    font-size: 14px;
    font-weight: var(--font-regular);
    line-height: 20px;
    color: #424E60;
    margin-top: 3px;
}

.about-content {
    width: 536px;
    min-height: 396px;
    margin: 0 auto;
}

.about-tag span {
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: 24px;
    color: #132238;
}

.about-content h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: var(--font-regular);
    margin: 12px 0 24px 0;
    color: var(--text-primary);
}

.about-content p {
    font-weight: var(--font-regular);
    font-size: 16px;
    color: #556070;
    line-height: 24px;
    margin-bottom: 32px;

}

.about-act {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.about-tag {
    display: flex;
    gap: 16px;
}

.about-button {
    cursor: pointer;
    font-weight: var(--font-semibold);
    font-size: 16px;
    background-color: var(--primary-color);
    width: 187px;
    height: 48px;
    border-radius: 100px;
    gap: 12px;
    transition: all 0.3s ease;
}

.about-button:hover {
    opacity: 0.8;
}

.about-button a {
    color: var(--text-white);
}


.about-icon img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.about-icon a {
    width: 48px;
    height: 48px;
    border: 2px solid #EAF7ED;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.about-icon a:hover {
    opacity: 0.8;
}

.about-icon {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}



/* Gallery Section */
.gallery-section {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 100px;
}

.gallery-title__items {
    width: 561px;
    height: 112px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.gallery-title__items h2 {
    font-size: 36px;
    font-weight: var(--font-regular);
    line-height: 44px;
    color: var(--text-primary);
}

.gallery-title__items p {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #424E60;
    width: 424px;
    height: 48px;
}

.gallery-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.gallery-title__button {
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    width: 173px;
    height: 48px;
    gap: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gallery-title__button:hover {
    opacity: 0.8;
}

.gallery-title__button a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: var(--font-semibold);
    padding-bottom: 1px;
}

.gallery-title__button a svg {
    width: 24px;
    height: 24px;
}


.gallery-content {
    display: flex;
    gap: 24px;
}

.gallery-content__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
}


.gallery-items__left img {
    width: 424px;
    height: 312px;
    object-fit: cover;
}

.gallery-items__center img {
    width: 536px;
    height: 480px;
    object-fit: cover;
}

.gallery-items__right img {
    width: 312px;
    height: 228px;
    object-fit: cover;
}


/* Services Section */
.services-section {
    width: var(--container-width);
    margin: 0 auto;
    display: flex;
    margin-top: 98px;
    margin-bottom: 99px;
    flex-direction: column;
    gap: 50px;
}

.services-title h2 {
    font-weight: var(--font-regular);
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    color: var(--text-primary);

}

.services-title p {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #424E60;
    width: 424px;
    height: 48px;
}

.services-icon {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 1px;
}

.services-icon__items {
    display: flex;
    gap: 24px;
    padding: 30px;
    border: 2px solid #E6E8EB;
    width: 536px;
    min-height: 152px;
    transition: all 0.3s ease;
}

.services-icon__items:hover {
    border: 2px solid #2DB24A;
}

.services-icon__items img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.services-items__title h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: var(--font-medium);
    margin-bottom: 11px;
    color: var(--text-primary);

}

.services-items__title p {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #424E60;
}

.services-content {
    display: flex;
    gap: 136px;
}

.services-photo img {
    width: 312px;
    height: 504px;
    object-fit: cover;
    margin-top: 1px;
}

.services-photo {
    display: flex;
    gap: 24px;
}



/* Pricing Section */

.pricing-section {
    background: #F0F1F3;
    min-height: 910px;
}

.pricing-section .container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 100px 0;
}

.pricing-section h2 {
    font-weight: var(--font-regular);
    font-size: 36px;
    line-height: 44px;
    color: var(--text-primary);
    text-align: center;
    margin-bottom: 50px;
}

.pricing-section h5,
.pricing-section h4,
.pricing-section h3,
.pricing-section h2 {
    color: var(--text-primary);
}

.pricing-content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing-content__items {
    background: white;
    padding: 48px 48px 28px;
}


.pricing-item__title {
    position: relative;
    margin-bottom: 32px;
}

.pricing-item__title span {
    position: absolute;
    top: -1px;
    right: 0;

}


.pricing-item__title h3 {
    font-weight: var(--font-semibold);
    font-size: 32px;
    line-height: 40px;
    color: var(--primary-color);
    margin-bottom: 24px;
    margin-top: 1px;
}


.pricing-item__title h4 {
    font-weight: var(--font-medium);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 11px;
    color: var(--text-primary);
}

.pricing-item__title p {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #556070;
}

.pricing-item__title span {
    font-weight: var(--font-semibold);
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
    border: 1.5px solid #D5F0DB;
    width: 125px;
    height: 34px;
    border-radius: 100px;
    padding: 8px 16px;
}

.pricing-items__checklist {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 100px;
}

.pricing-checklist__items {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pricing-checklist__items h5 {
    color: #A5ACB5;
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
}

.pricing-checklist__items img {
    width: 24px;
    height: 24px;
}

.pricing-checklist__items--active h5 {
    color: var(--text-primary);
    font-weight: var(--font-medium);
    text-decoration: none;
}


.pricing-content__items {
    position: relative;
    width: 424px;
}

.pricing-button {
    position: absolute;
    bottom: 47px;
    width: 328px;
    height: 48px;
    border-radius: 100px;
    gap: 12px;
    border: 2px solid var(--primary-color);
    margin-top: 33px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pricing-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-semibold);
    font-size: 16px;
    color: var(--primary-color);
    margin-bottom: 1px;
    transition: all 0.3s ease;
}


.pricing-button:hover {
    background-color: var(--primary-color);
}

.pricing-button:hover a {
    color: var(--text-white);
}

/* Blog Section */
.blog-section {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: 99px;
    gap: 51px;
    margin-bottom: 100px;
    flex-direction: column;
}

.blog-section h2 {
    color: var(--text-primary);
    font-weight: var(--font-regular);
    font-size: 36px;
    line-height: 44px;
}

.blog-content {
    gap: 24px;
    flex-wrap: wrap;
}

.blog-content figure {
    position: relative;
    margin: 0;
    padding: 0;
    height: 424px;
}

.blog-content figure::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    background: linear-gradient(180deg,
            transparent 0%,
            rgba(0, 0, 0, 0.2) 40%,
            rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    transition: all 0.3s ease;
}

.blog-content figure:hover::after {
    opacity: 1;
}

.blog-content figcaption {
    bottom: 0;
    position: absolute;
    padding: 32px;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease;
}

.blog-content figure:hover figcaption {
    opacity: 1;
}

.blog-content figure img {
    width: 424px;
    height: 424px;
    object-fit: cover;
}

.blog-items__info {
    display: flex;
    gap: 8px;
}

.blog-items__info span {
    font-weight: var(--font-regular);
    font-size: 14px;
    line-height: 20px;
    color: #ffffff70;
}

.blog-content h3 {
    margin-top: 8px;
}

.blog-content a {
    font-weight: var(--font-semibold);
    line-height: 28px;
    font-size: 20px;
    color: var(--text-white);

}

/* Instagram Section */
.instagram-section {
    flex-direction: column;
    width: var(--container-width);
    margin: 0 auto;
    margin-top: 98px;
    gap: 51px;
    margin-bottom: 100px;
}

.instagram-content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.instagram-section h2 {
    font-weight: var(--font-regular);
    font-size: 36px;
    line-height: 44px;
    color: var(--text-primary);
}

.instagram-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.instagram-item {
    position: relative;
    width: 200px;
    height: 200px;
}

.instagram-item::before {
    position: absolute;
    inset: 0;
    content: "";
    background-image:
        url('../images/icon/insta-icon.svg'),
        linear-gradient(rgba(19, 34, 56, 0.80), rgba(19, 34, 56, 0.80));
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.instagram-item:hover::before {
    opacity: 1;
}


/* Footer */
footer {
    min-height: 840px;
    background: #F0F1F3;
    padding-top: 100px;

}

.contact-section {
    width: var(--container-width);
    background: white;
    margin: 0 auto;
    padding: 56px;
    display: flex;
    gap: 118px;
}

.contact-content {
    width: 424px;
}

.contact-content h2 {
    font-weight: var(--font-medium);
    font-size: 24px;
    line-height: 32px;
    color: var(--text-primary);

    margin-bottom: 15px;
}

.contact-content p {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #556070;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 24px;
}

.contact-info__items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info__items img {
    width: 56px;
    height: 56px;
    padding: 16px;
    object-fit: cover;
    border-radius: 50%;
    background: #EAF7ED;
}

.contact-items__content {
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}

.contact-items__content:hover {
    opacity: 0.8;
}

.contact-items__content span {
    font-weight: var(--font-regular);
    font-size: 14px;
    line-height: 20px;
    color: #556070;

}

.contact-items__content h3 a {
    color: var(--text-primary);
    font-weight: var(--font-medium);
    font-size: 16px;
    line-height: 24px;
}

.contact-social h2 {
    font-weight: var(--font-medium);
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary);
}

.contact-social__items {
    display: flex;
    gap: 12px;
    position: relative;
    padding-left: 36px;
    flex-wrap: wrap;
}


.contact-social {
    background: #EAF7ED;
    padding: 32px;
    margin-top: 33px;
}

.contact-social__items a {
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.contact-social__items a:hover {
    background: var(--primary-color);
    color: white;
}

.contact-social__items a svg {
    width: 16px;
    height: 16px;
}

.contact-social__items a:first-child::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: var(--primary-color);
}

/* Form */
.contact-form {
    padding: 20px 0;
    width: 666px;
}

.contact-form h3 {
    font-weight: var(--font-medium);
    font-size: 24px;
    line-height: 32px;
    color: var(--text-primary);
    margin-bottom: 32px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.contact-form input,
.contact-form select {
    height: 48px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-family: 'Inter', sans-serif;
}

.contact-form input::placeholder,
.contact-form select,
.contact-form textarea::placeholder {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #87909D;
    font-family: 'Inter', sans-serif;

}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 12px 17px;
    border: 1px solid #E6E8EB;
}

.contact-form input[name='subject'] {
    grid-column: 1 / -1;
}

.contact-form select {
    letter-spacing: -0.2px;
    cursor: pointer;
    appearance: none;
    background: url('../images/icon/CaretDown.svg') no-repeat right 18px center;
    background-size: 16px 16px;
    word-spacing: 1.5px;
}

.contact-form input[name='email'] {
    margin-left: 1px;
}

.contact-form input[name='date'] {
    cursor: pointer;
    margin-left: -1px;
    background: url('../images/icon/CalendarBlank.svg') no-repeat right 17px center;
    background-size: 24px 24px;
}

.contact-form textarea {
    grid-column: 1 / -1;
    resize: vertical;
    height: 124px;
    letter-spacing: -1.2px;
}

.contact-form button {
    width: 201px;
    height: 48px;
    background: var(--primary-color);
    color: var(--text-white);
    font-weight: var(--font-semibold);
    letter-spacing: -0.4px;
    padding: 12px 0 12px 32px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
}

.contact-form button:hover {
    opacity: 0.8;
}

/* Footer Navigation */
.footer-nav {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 50px;
}


.footer-logo {
    gap: 12px;
    color: var(--text-white);
}

.footer-logo img {
    width: 48px;
    height: 48px;
}

.footer-logo span {
    font-size: 24px;
    font-weight: var(--font-semibold);
    color: var(--text-primary);
}

.footer-links {
    margin-right: 79px;
    padding-bottom: 1px;
}

.footer-links ul {
    display: flex;
    gap: 24px;
    transition: all 0.3s ease;
}

.footer-links li a {
    font-weight: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: #556070;
    transition: all 0.3s ease;

}

.footer-links--active a {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--text-primary) !important;
    transition: all 0.3s ease;

}

.footer-links li a:hover {
    color: var(--text-primary);
    text-shadow: 0.5px 0 0 currentColor;
}



.footer-nav h6 {
    font-weight: var(--font-regular);
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary);
}